<div class="expenses" >
    <div class="expense" ng-repeat="expense in expenses | filter:searchText">
        <a href="javascript:void(0)" ng-click="showDetail(expense);">
          <wex-icon icon="'eye-open'"  ></wex-icon>
        </a>
        <div class="category"><wex-highlight highlight-term="searchText" text="expense.category"></wex-highlight></div>
        <div class="provider">
            <wex-map address="expense.provider.address"></wex-map>
            <span class="name">
              <wex-highlight highlight-term="searchText" text="expense.provider.name"></wex-highlight>
            </span> -
            <span class="address"><wex-highlight highlight-term="searchText" text="expense.provider.address"></wex-highlight></span>
        </div>
        <div class="date"><wex-highlight highlight-term="searchText" text="expense.date | date"></wex-highlight></div>
        <div class="description"><wex-highlight highlight-term="searchText" text="expense.description"></wex-highlight></div>
        <div class="amount"><wex-highlight highlight-term="searchText" text="expense.amount | currency"></wex-highlight></div>
        <div class="expense-detail" ng-if="expense._showDetails">
            <div ui-view></div>
        </div>
    </div>
</div>
